#yourScore{
  display: none;
}

body{
  background-image:url(js.gif);
}
.jumbotron{
  width: 60%;
  height: 100px;
  text-align: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color:   #1d1d2f;
  color: white;
}
h2{
  padding-bottom: 5px;
}
